html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
}

.robot {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.4em;
}

.robot-body {
  display: block;
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  transform: translateX(297%);
  top: 4rem;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 1rem;
}

.robot-head-right {
  transform: translateX(127.8%);
}

.robot-head-left {
  transform: translateX(28%);
}

.robot:hover .robot-head-right {
  transform: translateX(150%);
  top: .5rem;
}

.robot:hover .robot-head-left {
  transform: translateX(6%);
  top: .5rem;
}

.robot:hover .robot-brain {
  top: 2.25rem;
}
